{% extends 'base.html' %}
{% block fixed_nav %}
    <body>
        <form method="post" action="{% url 'password_edit' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input id="{{form.password.id_for_label}}" maxlength="120" name="{{form.password.html_name}}"
                            type="password">
                    </td>
                </tr>
                <tr>
                <td colspan="1" align="center">
                    <input type="submit" value="비밀번호 변경">
                    <a style="color: darkorange" href='{% url 'myprofile' %}'>취소</a>
                </td>

                </tr>
            </table>
               <br>
                비밀번호가 변경된 뒤에는 다시 로그인해주시기 바랍니다.
            </form>
    </body>
{% endblock %}